<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Webservice Test Cases">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <!-- Setup a listener for fixtures -->
  <listeners>
    <listener class="\Cake\TestSuite\Fixture\FixtureInjector" file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
      <arguments>
        <object class="\Cake\TestSuite\Fixture\FixtureManager"/>
      </arguments>
    </listener>
  </listeners>
</phpunit>
